{% load static %}
<html>
    <head>
        <title>Authentication</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet " type="text/css" href="{% static 'ok.css' %}">
    <title>Home</title>
    <style>
      .slider {
        width: 600px;
        height: 400px;
        background-color: green;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
      }
      .image-container {
        width: 1500px;
        background-color: pink;
        height: 400px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
      }
      .slide {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
      }
      #slide-1:target ~ .image-container {
        left: 0px;
      }
      #slide-2:target ~ .image-container {
        left: -500px;
      }
      #slide-3:target ~ .image-container {
        left: -1000px;
      }
      .buttons {
        position: relative;
        top: -60px;
      }
      .buttons a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: darkgreen;
      }
    </style>

    </head>
    <body>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
        <nav class="navbar navbar-expand-lg navbar-light bg-black">
      <div class="navbar3">

        <button type="button" class="btn btn-info" width:100%>Home</button>
        <button type="button" class="btn btn-success" width:100%>Exam Schedule</button>
        <button type="button" class="btn btn-success"width:100%>Invigilator List</button>

        <button type="button" class="btn btn-dark">About Us</button>

        <!--<button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>


        <button type="button" class="btn btn-link">Link</button>-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    </div>
    <div class="search" style="margin-left: 410px;">
    <form class="form-inline my-3 my-lg-0">
      <input class="form-control mr-sm-3" type="search" placeholder="Search " aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
      </nav>

    <div class="container">
      <div class="projectName" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      <div class="row">
          <div class="col-sm-8">
      <h3 align="left"><span style="color: rgb(49, 28, 28);">  Invigilator </span><span style="color: rgb(39, 168, 39);">Management</span> </h3>
              </div>
          <div class="col-sm-4">
        <h3 align="right" > <a href="https://www.w3schools.com/html/html_links.asp" style="color: green;"> login/register </a></h3>
              </div>
      </div>




          <div class="row">

              <div class="col-sm-8" >
                  <h1>Not<span style="color: rgb(39, 168, 39);">ice</span></h1>
                   <div class="row">
                       <div class="slider">
      <span id="slide-1"></span>
      <span id="slide-2"></span>
      <span id="slide-3"></span>
      <div class="image-container">
        <img src="https://th.bing.com/th/id/R.adaf1f45525a68b5de0b939edd6a620c?rik=70DkUQ4MyoQW4A&pid=ImgRaw&r=0" class="slide" width="500" height="400" />
        <img src="https://th.bing.com/th/id/R.d415190799744344ef7ff36dc34f6db0?rik=MbRw9DjrEcVHyA&pid=ImgRaw&r=0" class="slide" width="500" height="400" />
       <img src="https://amazon.clikpic.com/holgatemike2/images/Natures_Window_Sunrise_Kalbarri_National_Park_1.jpg" class="slide" width="500" height="400" />
      </div>
      <div class="buttons">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
      </div>
    </div>

                   </div>
              </div>

              <div class="col-sm-4">
      <h1 align="left">Login/register <span style="color: rgb(39, 168, 39);">as?</span></h1>


        <div class="col-sm-8 col1  " style="height: 170px;">
      <div class="row">

          <div >

          <button type="button" class="col23 btn btn-success "  >Admin</button>
        </div>
        </div>
        <div class="row">
          <div   >
          <button type="button" class=" btn btn-success" >Exam Committee</button>
        </div>
        </div>

    </div>
              </div>

              </div>
          </div>
  </div>
      <!----
      <div class="button">
        <button type="button" class="btn btn-primary">Admin</button></br>
        <button type="button" class="btn btn-secondary">Exam Committee</button></br>
        <button type="button" class="btn btn-success">Teacher</button></br>

        <button type="button" class="btn btn-link">Sign Up</button>

    </div>
    -->

    <div>
      <br><br>
        <div class="service" style=" font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><h2 align="center">Our <span style="color: rgb(39, 168, 39);">Services</span></h2></div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm">
          <div class="col4">
         <h4 align="center" style="text-decoration: underline;
  -webkit-text-decoration-color: rgb(39, 168, 39); /* Safari */
  text-decoration-color: rgb(39, 168, 39);">Invigilator Management</h4>
         <ol>
          <li>Invigilator nomination.</li>
          <li>Senior Invigilator allocation.</li>
          <li>Invigilator payment.</li>
         </ol>
        </div>
        </div>
        <div class="col-sm">
          <div class="col4">
            <h4 align="center" style="text-decoration: underline;
  -webkit-text-decoration-color: rgb(39, 168, 39); /* Safari */
  text-decoration-color: rgb(39, 168, 39);">Service Activities</h4>
            <ol>
             <li>Management of departmental contacts.</li>
             <li>Sepcial needs exam room slot allocation.</li>
             <li>Report generation.</li>
            </ol>
        </div>
        </div>
        <div class="col-sm">
          <div class="col4">
            <h4 align="center" style="text-decoration: underline;
  -webkit-text-decoration-color: rgb(39, 168, 39); /* Safari */
  text-decoration-color: rgb(39, 168, 39);">Notifications</h4>
            <ol>
             <li>Notification to the departmental contacts.</li>
             <li>Allocated exam slot(s) Notification to the nominated invigilators.</li>
            </ol>
        </div>
        </div>
      </div>
    </div>
    <div>
      <hr>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

    </div>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
        <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>


        <h3>Welcome to website</h3>

    {% if user.is_authenticated %}
    <h3>Hello {{fname}}!</h3>
    <h4>You're successfully logged in.</h4>

    <button type="submit"><a href="/signout">Signout</a></button>
    {% else %}
    <button type="submit"><a href="/signin">Singin</a></button>
    <button type="submit"><a href="/signup">SingUp</a></button>
    {% endif %}

</body>
<footer id="footer" class="ftr" style="background-color: black;color:white">
        <div class="main-footer widgets-dark typo-light">
        <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget subscribe no-box" >
        <h5 class="widget-title">Invigilator Management System<span></span></h5>
        <p>This project describes you about the management of invigilators of a department of an Institution.</p>
        </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
        <h5 class="widget-title">Quick Links<span></span></h5>
        <ul class="thumbnail-widget">
        <li>
        <div class="thumb-content"><a href="#.">&nbsp;Get Started</a></div>
        </li>
        <a href="https://juniv.edu/">Jahangirnagar University</a></li>
        <li>
        </ul>
        </div>
        </div>



              <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
        <h5 class="widget-title">Follow up<span></span></h5>
                    <a href="#"> <i class="fa fa-facebook"> </i> </a>
                    <a href="#"> <i class="fa fa-twitter"> </i> </a>
                    <a href="#"> <i class="fa fa-youtube"> </i> </a>
        </div>
        </div>
        <br>
          <br>


        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget no-box">
        <h5 class="widget-title">Contact Us<span></span></h5>
                    <p>
                    <ol>
                        <li><a href="https://www.facebook.com/jjj67jk">Seaum Ahmed Tazim</a></li>
                        <li><a href="https://www.facebook.com/php.980">Parvej Hoque Palash</a></li>
                        <li><a href="https://www.facebook.com/mdrasel.islam.5492216">Rasel Islam</a></li
                    </ol>
                </p>

        </form>
        </div>
        </div>

        </div>
        </div>
        </div>


        <div class="col-md-12 text-center">
        <p>@Copyright Design Palash,Tazim</p>
        </div>
        </div>
        </div>
        </div>
        </div>
</footer>






</html>