{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet "
      type="text/css"
      href="{% static 'createdExamCommittee.css' %}"
    />
  </head>
  <body>
    <div class="table">
      <table class="my_table">
        <caption>
          <h3>Routine For 3rd Year Students</h3>
        </caption>
        <thead>
          <tr>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Course Credit</th>
            <th>Exam Date</th>
            <th>Start time</th>
            <th>End Time</th>
          </tr>
        </thead>
        <tbody>
          {%for routine in routines%}
          <tr>
            <td>{{routine.courseCode.courseCode}}</td>
            <td>{{routine.courseCode.courseTitle}}</td>
            <td>{{routine.courseCode.courseCredit}}</td>
            <td>{{routine.date}}</td>
            <td>{{routine.start}}</td>
            <td>{{routine.end}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
