{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'showExamCommittee.css' %}"
    />
  </head>
  <body>
    <h1>Exam Committee Members List</h1>
    <div class="teacherListParent">
      {%for teacher in examcommittee%}
      <div class="teacherList">
        <p><b class="header">Teacher Id:</b> {{teacher.teacherID }}</p>
        <p>
          <b class="header">Name: </b>{{teacher.firstName}} {{teacher.lastName}}
        </p>
        <p><b class="header">Email: </b>{{teacher.email}}</p>
      </div>
      {%endfor%}
    </div>
  </body>
</html>
