{% load static %}
<html>
    <head>
        <title>Singup page </title>
        <link rel="stylesheet " type="text/css" href="{% static 'signup.css' %}">
        <style>
            input{
                padding:10px;
            }
            label{
                font-size:20px;
            }
            button{
                color:white;
            }
            button:hover{
                cursor: pointer;
            }
        </style>
    </head>
<body>

 <h1> Registration form  </h1>
 <p>Please fill out this form with the required information</p>
 {% for message in messages %}
 <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
     <strong>Message:</strong> {{ message }}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
 <span aria-hidden="true">&times;</span>
</button>
 </div>
 {% endfor %}


 <form action="/signup" method="post">
    {% csrf_token %}
    <label for="">Teacher Id </label>
    <input type="text" id="id" name="id" placeholder="Enter teacher id" required>
    <br>

  <label for="">Username </label>
  <input type="text" id="username" name="username" placeholder="create a username" required>
  <br>

  <label for="">First Name </label>
  <input type="text" id="fname" name="fname" placeholder="Input your first name" required>
  <br>
  <label for="">Last Name  </label>
  <input type="text" id="lname" name="lname" placeholder="Input your last name " required>
  <br>
  <label for="">Email </label>
  <input type="text" id="email" name="email" placeholder="Input your email" required>
  <br>
  <label for="">Password </label>
  <input type="password" id="pass1" name="pass1" placeholder="create a password" required>
  <br>

  <label for="">Confirm Password </label>
  <input type="password" id="pass2" name="pass2" placeholder="retype password" required>
  <br>

  <button type="submit">Sign Up</button>


 </form>
</body>
</html>